.navbar {

  .user-status {

    .logged {
      &-in {
        display: none;
      }

      &-out {
        display: block;
      }
    }

    &.is-user-logged-in {
      .logged {
        &-in {
          display: block;
        }

        &-out {
          display: none;
        }
      }
    }
  }

  .nav-link:hover {
    color: $primary;
  }

  @include media-breakpoint-down(lg) {
    >.nav-item {
      text-align: center;
    }

    .btn {
      flex-direction: column;
    }
  }
}

// @include media-breakpoint-down(lg) {
//     .navbar-nav >.nav-item  {
//       text-align: center;
//     }
//     .btn{
//         flex-direction: column;
//     }
//   }